body {
    color: #f0fbff;
}

#profile
{
    /*background-image: url(./blue.jpg);
    background-size: 100%;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 300px;
    padding-right: 300px;*/


.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0fbff;
}

h1
{
    padding-top: 20px;
    padding-bottom: 16px;
    color:#435257;
    text-align:center;
    font-family:"Times New Roman";
    font-size:50px;
    letter-spacing: 1px;
}

.card-group {
.card {
    color: #ffffff;
    width: 280px;
    height: 410px;
    margin-left: 4px;
    margin-right: 4px;

    img{
        height: 260px;
    }

    p {
        color: #000000;
        font-size: 22px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    h3 {
        color: #000000;
        font-size: 13px;
        padding-bottom: 4px;
        margin-bottom: 0px;
    }

    button {
        position: relative;
        display: inline-block;
        margin: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-weight: bold;
        padding: 4px 6px;
        width: 76px;
        color: #FFF;
        background: #00bcd4;
        transition: .4s;
    }

    button:hover {
        background: #3fe4d9;
    }
}
}
}